.App {
  text-align: center;
  background-color: #eee;
  margin-top: 0;
  max-width: 100vw;
  padding-top: 100px;
}

.page__title {
  margin-top: 0;
  padding: 40px;
  padding-top: 0;
}

.page__header {
  width: 100%;
  max-width: 100vw;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eee;
}

.basket__button {
  max-height: 50px;
  width: max-content;
  background-color: royalblue;
  border: solid 1px royalblue;
  color: white;
  padding: 10px;
  margin: 10px 20px 10px 0;
  text-decoration: none;
}

.basket__button:hover {
  background-color: white;
  border: solid 1px royalblue;
  color: rgb(47, 84, 196);
  text-decoration: none;
}

.basket__storage {
  width: 100px;
  max-height: 50px;
  padding: 10px;
  margin: 10px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
