.App {
  text-align: center;
  background-color: aliceblue;
  margin-top: 0;
  width: 100vw;
}

.page__title {
  margin: 0;
  padding: 40px;
}

.page__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket__button {
  width: 100px;
  max-height: 50px;
  background-color: white;
  border: solid 2px red;
  padding: 10px;
  margin: 10px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
