.book__box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background-color: white;
  width: 90vw;
  max-width: 600px;
  margin: 5px auto;
  height: 100%;
  padding: 20px;
}

.book__cover {
  max-height: 200px;
}

.book__info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.book__title,
.book__author,
.book__pages {
  margin: 8px 0;
  text-align: left;
}

.book__btn-box {
  width: 100%;
  text-align: right;
}

.book__button {
  color: white;
  background-color: royalblue;
  border: solid 1px royalblue;
  padding: 10px;
  margin: 10px 0;
}

.book__button:hover {
  background-color: white;
  border: solid 1px royalblue;
  color: rgb(47, 84, 196);
}