.Form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Form label {
  margin: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Form legend {
  font-weight: bold;
}

.form__button {
  color: white;
  background-color: royalblue;
  border: solid 1px royalblue;
  padding: 10px 15px;
  margin: 30px auto;
  width: max-content;
  font-size: 100%;
}

.form__button:hover {
  background-color: white;
  border: solid 1px royalblue;
  color: rgb(47, 84, 196);
}