.basket {
  min-height: 100vh;
}

.basket__table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

.table__price {
  text-align: right;
}

.table__btn{
  text-align: center;
}

.table__btn button{
  max-height: 50px;
  width: max-content;
  background-color: lightgray;
  border: none;
  color: black;
  padding: 5px 10px;
}

.table__btn button:hover{
  background-color: royalblue;
  color: white;
}

td {
  padding: 10px;
  text-align: left;
}

th {
  padding: 10px;
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}

tfood tr td {
  width: min-content;
  word-wrap: normal;
}

.table__price p {
  margin: 0;
}

.table__btn p {
  margin: 0;
}

.btn__article {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}